@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

/*! - ESTILOS GENERALES - */
/** CSS Valores por defecto */
* {
    margin: 0;
    padding: 0;
}
.row {
    align-items: center;
    justify-content: space-around;
}
/** Estilos de letras, tamaños, color */
h1,h2,h3,a {
    font-family: 'Graduate', 'cursive';
}
p {
    font-family: 'Montserrat', sans-serif;
}
/** CLASES - Colores de letras, fonts */
.colorAmarrillo{
    color: #FCD201;
}
.color{
    color: white;
}
.fontA {
    font-family: 'Montserrat', sans-serif;
}
/*TODO --- HEADER --- */
/** Se aplica una poscion al header */
header {
    position: sticky;
    top: 0px;
    z-index: 3;
}
/** Modificacion del color de las letras del submenu */
.dropdown-menu li a {
    color: white;
}
.logoPrincipal {
    width: 70px;
}
/** Banner que se usa en todas las paginas */
.bannerTotal {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 5rem;
}
/*TODO --- MAIN --- INICIO --- */
/** Carrusel principal - Seccion 1 */
.imgCarrusel{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.logoCarrusel{
    height: 12rem;
    position: relative;
    top: 15rem;
    animation: zoomInDown 2s; /* Animacion para el logo en el carrusel */
}
/** Tamaño de los logos en Abono - Seccion 2 */
.logos {
    width: 130px;
    height: 130px;
}
/** Carrusel de promos - Seccion 2 */
.bannerPromoCarrusel1 {
    width: 100%;
    height: 50vh;
    background-image: url(../img/promo.jpg);
    background-size: cover;
    background-position: center;
} 
.bannerPromoCarrusel2 {
    width: 100%;
    height: 50vh;
    background-image: url(../img/promo2.jpg);
    background-size: cover;
    background-position: center;
} 
/** Banner que tendra la seccion localizacion - Seccion 2 */
.bannerLocalizacion {
    width: 100%;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.mapa {
    height: 350px; 
}
/** Efectos para los iconos de las redes sociales */
.redes2 a{
    width: 130px;
    height: 130px;
    color: white;
    background-color: black;
    font-size: 80px;
    text-decoration: none;
    box-shadow: 1rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
/*TODO --- MAIN --- ACTIVIDADES --- */
/** Se le declara una altura a las imagenes */
.bannerActividades img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
}
/** Background que tiene cada actividad */
.backgroundExterno {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
.backgroundInterno {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}
/*TODO --- MAIN --- GALERIA --- */
/** GRIDS "GALERIA" */
.gridGaleria{ /* Este GRID esta aplicado solo en las imagenes */
    display: grid;
    grid-template-areas: 
    "img9 img9 img8 img2 img2"
    "img9 img9 img6 img6 img6"
    "img3 img4 img6 img6 img6"
    "img3 img4 img6 img6 img6"
    "img3 img5 img1 img1 img1"
    "img7 img7 img1 img1 img1";
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 150px;
    padding: 40px 100px;
    justify-content: center;
    grid-gap: 10px;
}
/** GRIDS Areas*/
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.img8{
    grid-area: img8;
}
.img9{
    grid-area: img9;
}
.gridGaleria img{
    object-fit: cover;
    object-position: center;
}
.gridGaleria img:hover{
    transform: translateY(-0.3rem) scale(1.05);
    transition: 0.2s;
    z-index: 2;
}
/*TODO --- MAIN --- STAFF --- */
/** Banner que tiene cada miembro del staff */
.retrato {
    height: 45rem;
    background-image: url(../img/banner9.jpg);
    border-radius: 2rem;
}
/** Se le declara una ancho a las imagenes */
.retrato img {
    width: 75%;
}
/*TODO --- MAIN --- CONTACTO --- */
/** Banner que contiene al form */
.backgroundForm {
    background: rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, .6);
}
/*TODO --- FOOTER --- */
/** Banner que contiene al footer */
footer {
    background-image: url(../img/banner4.jpg);
}
/** Se reduce el tamaño de las letras que contienen al parrafo debajo del logo */
.fontDerechos {
    font-size: 12px;
}
@media only screen and (min-width: 1024px) {
    .btn-neon{
        position: relative;
        display: inline-block;
        padding: 10px;
        color: #fff;
        letter-spacing: 2px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
    }
    .btn-neon:hover{
        background: #FCD201;
        box-shadow: 0 0 1px #FCD201, 0 0 4px #FCD201, 0 0 8px #FCD201;
        transition-delay: 0.5s;
        color: black;
    }
    .btn-neon span{
        position: absolute;
        display: block;
    }
    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent,#FCD201);
    }
    .btn-neon:hover #span1{
        left: 100%;
        transition: 0.5s;
    }
    #span3{
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent,#FCD201);
    }
    .btn-neon:hover #span3{
        right: 100%;
        transition: 0.5s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#FCD201);
    }
    .btn-neon:hover #span2{
        top: 100%;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#FCD201);
    }
    .btn-neon:hover #span4{
        bottom: 100%;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    /** Efectos en el submenu de la pagina Actividades */
    .dropdown ul li:hover .dropdown-menu{
        visibility: visible;
        opacity: 1;
    }
    .dropdown-menu li:hover a{
        background: #FCD201;
        box-shadow: 0 0 0.1rem #FCD201, 0 0 0.4rem #FCD201, 0 0 0.8rem #FCD201;
        color: black;
    }
    /** Estilos en los logos de las redes que tendra solo Desktop*/
    .redes2:hover a{
        filter: blur(0.2rem);
    }
    .redes2 a:hover{
        transform:  translateY(-0.3rem) scale(1.05);
        box-shadow: 10px 13px 5px 0px rgba(0, 0, 0, 0.5);
        filter: none;
        color: black;
        background-color: #FCD201;
    }
    .redes2 a:hover i{
        transition: all 0.7s;
        transform: rotateY(360deg);
    }
}
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    /*TODO --- MAIN --- GALERIA --- */
    /** GRIDS "GALERIA" */ 
    .gridGaleria{ /* Se modifia el Grid principal, en este caso se reducen las columnas y se cambian de lugar las imangenes para tener una mejor visualizacion. */
        display: grid;
        grid-template-areas: 
        "img1 img2 img7 img7"
        "img6 img6 img3 img3"
        "img5 img4 img3 img3"
        "img9 img9 img9 img8";
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width: 599px) {
    /** Se le declara una altura a las imagenes */
    .bannerActividades img {
        height: 20rem;
    }
    /*TODO --- MAIN --- GALERIA --- */
    /** GRIDS "GALERIA" */ 
    .gridGaleria{ /* Se modifia el Grid principal, en este caso se reducen las columnas y se cambian de lugar las imangenes para tener una mejor visualizacion. */
        display: grid;
        grid-template-areas: 
        "img1 img2 img5"
        "img6 img6 img3"
        "img8 img7 img3"
        "img4 img9 img9";
        padding: 40px 10px;
        grid-auto-rows: 100px;
        grid-gap: 5px;
        grid-template-columns: repeat(3,1fr);
    }
}