@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

/*! - ESTILOS GENERALES - */
/** CSS Valores por defecto */
* {
    margin: 0;
    padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	overflow-x: hidden;
    background-color: black;
}
/** Boton del menu desplegable */
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 80px;
    margin-left: 2rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/** Estilos de letras, tamaños, color */
h1 {
    color: #FCD201;
    font-family: 'Graduate', 'cursive';
    font-size: 9rem;
}
h2 {
    color: white;
    font-family: 'Graduate', 'cursive';
    font-size: 6rem;
}
p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
li {
    color: white;
    font-size: 2rem;
    list-style: none;
}
li a {
    font-family: 'Graduate', 'cursive';
    color: white;
    text-decoration: none;
    padding: 5px 15px;
}
h3 {
    color: white;
    font-family: 'Graduate', 'cursive';
    font-size: 2rem;
}
/** CLASES - Colores de letras. Interlineados. Tamaños */
.color {
    color: white;
}
.interlineado {
    line-height: 2;
}
.tamaño {
    font-size: 2rem;
}
/*TODO --- HEADER --- */
header {
    width: 100%;
    height: 7rem;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.margenLogoPrincipal {
    margin-left: 2rem;
}
.margenNav {
    margin-right: 2rem;
}
/*TODO --- MAIN --- INICIO --- */
/*? CLASES FLEX */
.flexColumna {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flexFila {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*? Seccion 1 */
/** Es lo primero que ve el usuario cuando ingresa al sitio */
.bannerInicioUno {
    width: 100%;
    height: 95vh;
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position: center;
} 
.flexColumna .bannerInicioUno {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.bannerInicioUno video {
    width: 50%;
    height: 40%;
}
/*? Seccion 2 */
/** GRIDS "INICIO" */
.grids {
    display: grid;
    grid-template-areas:
    "abono promo"
    "localizacion promo"
    "redes redes";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50rem 50rem auto;
    align-items: center;
    align-content: space-around;
    grid-gap: 5rem;
}
/** GRIDS Areas */
.abono {
    grid-area: abono;
}
.localizacion {
    grid-area: localizacion;
}
/* El Grid Areas de .Promo esta mas abajo */
.redes {
    grid-area: redes;
}
/** Segunda seccion que vera el usuario en la pagina Inicio */
.bannerInicioDos {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 0rem;
}
.bannerInicioTres {
    width: 90%;
    height: 45rem;
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
}
.flexAbono {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.flexLocalizacionRedes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    gap: 2rem;
}
.mapa {
    width: 90%;
    height: 25rem;
}
.flexLocalizacionRedes div {
    justify-content: center;
}
.logos {
    width: 10rem;
    height: 10rem;
    border-radius: 3rem;
    margin-right: 2rem;
}
/** Efectos para los iconos de las redes sociales */
.redes2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.redes2 a{
    display: flex;
    width: 11rem;
    height: 11rem;
    color: white;
    background-color: black;
    font-size: 8rem;
    border-radius: 3rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 0.5rem 0rem rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
/** Publicidades de la pagina, carrusel incluido */
.promo {
    grid-area: promo; /* Grid Area de la seccion 2*/
    width: 100%;
    height: 95%;
    overflow: hidden;
}
.promo ul{
    display: flex;
    width: 200%;
    height: 100%;
    align-items: center;
    animation: cambio2 15s infinite alternate;
}
.promo ul li{
    width: 100%;
    height: 100%;
    list-style: none;
    position: relative;
}
.promo ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.promo h2,p {
    z-index: 1;
}
@keyframes cambio2{
    0%{margin-left: 0;}
    40%{margin-left: 0;}

    50%{margin-left: -100%;}
    100%{margin-left: -100%;}
}
/** Especificaciones de la primera promocion */
.promo1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.promo1 h2 {
    font-size: 6rem;
    color: #FCD201;
    padding-top: 2rem;
    padding-right: 2rem;
    text-align: right;
}
.promo1 p {
    font-family: 'Graduate', 'cursive';
    font-size: 2.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    text-align: left;
}
/** Especificaciones de la segunda promocion */
.promo2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.promo2 h2 {
    font-size: 4rem;
    color: #FCD201;
    text-align: center;
}
.promo2 p {
    font-size: 2rem;
    text-align: center;
}
/*TODO --- MAIN --- ACTIVIDADES --- */
/*? FLEX ACTIVIADES */
.flexColumnaAct{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
}
.flexFilaAct{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
/** Banner que tendra la pagina */
.bannerActividades {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 0rem;
}
/** Especificaciones de cada actividad */
.bannerActividadInternos {
    width: 85%;
    height: 14%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 1.5rem;
}
.bannerActividadInternos p {
    color: white;
}
/** GRIDS "ACTIVIDADES" */
.gridsAct {
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "imagen informacion";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
/** GRIDS Areas*/
.titulo {
    grid-area: titulo;
}
.informacion {
    grid-area: informacion;
}
.contenedor {
    grid-area: imagen;
    width: 90%;
    height: 90%;
    overflow: hidden; 
    border-radius: 1rem;
}
.contenedor ul{
    display: flex;  
    width: 400%;
    height: 100%;
    animation: cambio 15s infinite alternate;
}
.contenedor li{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.contenedor ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/** Especificaciones de los LI que estan en cada actividad como caracteristicas de la misma */
.liInternosAct {
    font-family: 'Montserrat', sans-serif;
    margin-left: 3rem;
    line-height: 2.3rem; 
}
.liInternosAct li {
    font-size: 1.6rem;
    list-style:circle;
}
/** Fondos internos dentro de cada actividad */
.bannerActividadInternos article {
    width: 92%;
    height: 52rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
}
.bannerActividadInternos h2 {
    width: 96%;
    height: 7rem;
    color: #FCD201;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
    text-align: left;
}
/** Flex interno dentro de cada actividad (Informacion sobre la misma) */
.flexInformacion {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
/*TODO --- MAIN --- GALERIA --- */
/** Banner que tendra la pagina, tambien se aplica un flex para ordernar el contenido */
.bannerGaleria {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0rem;
}
.bannerGaleria h2 {
    color: #FCD201;
    text-align: center;
}
/** GRIDS "GALERIA" */
.gridGaleria{ /* Este GRID esta aplicado solo en las imagenes */
    display: grid;
    grid-template-areas: 
    "img9 img9 img8 img2 img2"
    "img9 img9 img6 img6 img6"
    "img3 img4 img6 img6 img6"
    "img3 img4 img6 img6 img6"
    "img3 img5 img1 img1 img1"
    "img7 img7 img1 img1 img1";
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 15rem;
    padding: 4rem 10rem;
    justify-content: center;
    grid-gap: 1rem;
}
/** GRIDS Areas*/
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.img8{
    grid-area: img8;
}
.img9{
    grid-area: img9;
}
.gridGaleria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
/*TODO --- MAIN --- STAFF --- */
/** Banner que tendra la pagina, tambien se aplica un flex para ordernar el contenido */
.bannerStaff {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    gap: 12rem;
    padding: 9rem 0rem; 
}
.bannerStaff> h2 {
    color: #FCD201;
    text-align: center;
}
/** Banner que se le aplica como contenedor de cada profesor */
.retrato {
    width: 41rem;
    height: 62rem;
    background-image: url(../img/banner9.jpg);
    border-radius: 2rem;
}
.retrato img {
    width: 75%;
}
.retrato h2,p {
    color: white;
}
.retrato p{
    text-align: left;
    padding: 0rem 5rem;
}
.flexListaStaff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    justify-content: center;
}
.flexListaStaff article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
/*TODO --- MAIN --- CONTACTO --- */
/** Banner que tendra la pagina, tambien se aplica un flex para la disposicion de los elementos dentro del Main */
.bannerContacto {
    width: 100%;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5rem;
    padding: 10rem 0rem 17rem 0rem;
}
.bannerContacto h2{
    color: #FCD201;
    text-align: center;
}
/** Background que tendra la seccion "form" donde tambien se aplica una iluminacion para darle un estilo */
.backgroundForm {
    background: rgb(0, 0, 0, 0.5);
    width: 62rem;
}
.iluminacionBackground {
    box-shadow: 0 0 10rem 0 rgba(255, 255, 255, .6);
}
.iluminacionBackground > * {
    padding: 4rem;
}
/** GRIDS "CONTACTO" */ 
.gridContacto { /* Este GRID esta aplicado a los elementos que contienen al FORM */
    display: grid;
    grid-template-areas: 
    "nombre apellido"
    "telefono email"
    "mensaje mensaje"
    "btn btn";
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}
/** GRIDS Areas */
.nombre{
    grid-area: nombre;
}
.apellido{
    grid-area: apellido;
}
.telefono{
    grid-area: telefono;
}
.email{
    grid-area: email;
}
.mensaje{
    grid-area: mensaje;
}
.btn{
    grid-area: btn;
}
.gridContacto div {
    margin: 0;
    padding: 1rem;
}
.inputBox{
    display: flex;
    width: 100%;
    position: relative;
}
/** Estilos de letras, tamaños y color que tendras los rectangulos de cada form */
.inputBox span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: white;
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
}
.inputBox input,textarea{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: white;
    border: none;
    border-bottom: 0.1rem solid #FCD201;
    background-color:rgba(0, 0, 0, 0);
    padding: 1rem;
    outline: none;
    transition: 0.5s;
}
.inputBox input:valid ~ span,textarea:valid ~ span, .inputBox input:focus ~ span,textarea:focus ~ span{
    color: #FCC703;
    transform: translateX(1rem) translateY(-0.7rem);
    font-size: 1.3rem;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 0.2rem;
}
/** Se le aplica un background a "button". Tambien se le aplica un cambio cuando se situan sobre el mismo. */
.gridContacto button {
    background:rgba(0, 0, 0, 0.5);
    border: 0.1rem solid white;
    text-transform: uppercase;
    padding: 1rem;
    width: 10rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.gridContacto button:hover,
.gridContacto button:focus {
    border: 0.1rem solid #FCD201;
    background: #FCD201;
    box-shadow: 0 0 0.1rem #FCD201, 0 0 0.4rem #FCD201, 0 0 0.8rem #FCD201;
    color: black;
    transition: background-color 1s ease-out;
    outline: 0;
}
/*TODO --- FOOTER --- */
.bannerFooter {
    width: 100%;
    height: 30rem;
    background-image: url(../img/banner4.jpg);
    background-size: cover;
    background-position: center;
}
.flexFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;   
}
.flexFooter section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
.flexFooter img {
    width: 10%;
}
footer > p {
    text-align: center;
}
/*TODO --- RESPONSIVE DESIGN --- */
/*? Responsive -- Desktop -- */
@media (min-width: 1024px) {
    /** Estilos en el navegador que tendra solo Desktop*/
    .btn-neon{
        position: relative;
        display: inline-block;
        padding: 1rem;
        color: #fff;
        letter-spacing: 0.2rem;
        text-decoration: none;
        font-size: 2rem;
        overflow: hidden;
        transition: 0.2s;
    }
    .btn-neon:hover{
        background: #FCD201;
        box-shadow: 0 0 0.1rem #FCD201, 0 0 0.4rem #FCD201, 0 0 0.8rem #FCD201;
        transition-delay: 0.5s;
        color: black;
    }
    .btn-neon span{
        position: absolute;
        display: block;
    }
    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 0.2rem;
        background: linear-gradient(90deg, transparent,#FCD201);
    }
    .btn-neon:hover #span1{
        left: 100%;
        transition: 0.5s;
    }
    #span3{
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 0.2rem;
        background: linear-gradient(270deg, transparent,#FCD201);
    }
    .btn-neon:hover #span3{
        right: 100%;
        transition: 0.5s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 0.2rem;
        height: 100%;
        background: linear-gradient(180deg,transparent,#FCD201);
    }
    .btn-neon:hover #span2{
        top: 100%;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom: -100%;
        left: 0;
        width: 0.2rem;
        height: 100%;
        background: linear-gradient(360deg,transparent,#FCD201);
    }
    .btn-neon:hover #span4{
        bottom: 100%;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    /** Sub-Menu que tendra solo la pagina Actividades*/
    .submenu{
        position: absolute;
        background: black;
        width: 25rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s;
    }
    .submenu li a{
        display: block;
        border: 0.1rem solid #FCD201;
        padding: 1rem;
        color: white;
        text-decoration: none;
    }
    .flexFila li:hover .submenu{
        visibility: visible;
        opacity: 1;
    }
    .submenu li:hover a{
        background: #FCD201;
        box-shadow: 0 0 0.1rem #FCD201, 0 0 0.4rem #FCD201, 0 0 0.8rem #FCD201;
        color: black;
    }
    /** Estilos en los logos de las redes que tendra solo Desktop*/
    .redes2:hover a{
        filter: blur(0.2rem);
    }
    .redes2 a:hover{
        transform:  translateY(-0.3rem) scale(1.05);
        box-shadow: 1rem 1.3rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
        filter: none;
        color: black;
        background-color: #FCD201;
    }
    .redes2 a:hover i{
        transition: all 0.7s;
        transform: rotateY(360deg);
    }
    /** Efectos que tendra la galeria solo en Desktop*/
    .gridGaleria:hover img{
        filter: blur(0.2rem);
    }
    .gridGaleria img:hover{
        transform:  translateY(-0.3rem) scale(1.2);
        filter: none;
        z-index: 1;
    }
}
/*? Responsive -- Tablet -- */
@media (min-width: 600px) and (max-width: 1023px) {
    /*! - ESTILOS GENERALES - */
    /** Tamaños de letras para Tablet */
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.4rem;
    }
    li {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 2rem;
    }
    /*TODO --- HEADER --- */
    /** Se reducen ciertos elementos para tener una mejor disposicion de los mismos en el formato Tablet. */
    header {
        height: 6rem;
    }
    header img {
        width: 18rem;
    }
    .margenLogoPrincipal {
        margin-left: 0.5rem;
    }
    .margenNav {
        margin-right: 0.5rem;
    }
    /*TODO --- MAIN --- INICIO --- */
    /*? Seccion 1 */
    /** En esta seccion solo se modifica el tamaño del video */
    .bannerInicioUno video {
        width: 90%;
        height: 30%;
    }
    /*? Seccion 2 */ 
    /** GRIDS "INICIO" */ 
    .grids { /* Se modifia el Grid principal, en este caso se deja una disposicion en columnas. */
        display: grid;
        grid-template-areas:
        "abono"
        "localizacion"
        "promo"
        "redes";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        align-content: space-around;
        grid-gap: 4rem;
    }
    /** Modificacion del tamaño del banner que contiene a ABONO */
    .bannerInicioTres {
        width: 90%;
        height: 50%;
        border-radius: 1rem;
    }
    /** Se modifican el tamaño de las letras en las promociones y a una de estas se le aumenta el padding-bottom */
    .promo .promo1 p {
        padding-bottom: 4rem;
    }
    .promo .promo2 h2 {
        font-size: 3rem;
    }
    .promo .promo2 p {
        font-size: 1.5rem;
    }
    /** Se modifican los LOGOS */
    .logos {
        width: 8rem;
        height: 8rem;
        margin-right: 1.5rem;
    }
    /*TODO --- MAIN --- ACTIVIDADES --- */
    /** Se quita el Sub-Menu (Por el momento) */
    .flexFila li .submenu {
    display: none;
    }
    /** GRIDS "ACTIVIDADES" */ 
    .gridsAct { /* Se modifia el Grid principal, en este caso se deja una disposicion en columnas. */
        display: grid;
        grid-template-areas:
        "titulo"
        "imagen" 
        "informacion";
        grid-template-columns: auto;
        grid-template-rows: 8rem 32rem 40rem;
        justify-items: center;
        align-items: center;
    }
    /** Se aplican modificaciones en varios elementos dentro de ACTIVIDADES */
    .bannerActividadInternos h2 {
        width: 99%;
        height: 4rem;
        border-radius: 0rem;
        text-align: center;
    }
    .liInternosAct {
        font-family: 'Montserrat', sans-serif;
        margin-left: 3rem;
        line-height: 2rem; 
    }
    .liInternosAct li {
        font-size: 1.4rem;
        list-style:circle;
    }
    .bannerActividadInternos article {
        width: 99%;
        height: 36rem;
        border-radius: 0;
    }
    /*TODO --- MAIN --- GALERIA --- */
    /** GRIDS "GALERIA" */ 
    .gridGaleria{ /* Se modifia el Grid principal, en este caso se reducen las columnas y se cambian de lugar las imangenes para tener una mejor visualizacion. */
        display: grid;
        grid-template-areas: 
        "img1 img2 img7 img7"
        "img6 img6 img3 img3"
        "img5 img4 img3 img3"
        "img9 img9 img9 img8";
        grid-template-columns: repeat(4,1fr);
    }
    /** Se modifica la separacion entre elementos para tener una mejor visualizacion. */
    .bannerGaleria {
        padding: 6rem 0rem;
    }
    /*TODO --- MAIN --- STAFF --- */
    /** Modificacion de la separacion entre los elementos. */
    .bannerStaff {
        gap: 8rem;
        padding: 6rem 0rem;
    }
    /*TODO --- MAIN --- CONTACTO --- */
    /** Reduccion del padding y del background que contiene a Form*/
    .bannerContacto {
        gap: 5rem;
        padding: 6rem 0rem 11rem 0rem;
    }
    .backgroundForm {
        width: 44rem;
    }
    /*TODO --- FOOTER --- */
    /** Responsive del FOOTER para Smartphones, se aplican cambos en letras y se modifica el tamaño del bannerFooter */
    .bannerFooter {
        height: 20rem;
    }
    .tamaño {
        font-size: 1rem;
    }
    footer section p {
        font-size: 1rem;
    }
    footer p {
        font-size: 1rem;
    }
}
/*? Responsive -- Smartphone -- */
@media (max-width: 599px) {
    /*! - ESTILOS GENERALES - */
    /** Tamaños de letras para Smartphone */
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    li {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    /*TODO --- HEADER --- */
    /** Responsive del HEADER para Smartphones. Aca se modifica por completo la navegacion, en este caso se aplica una navegacion desplazable. */
    .checkbtn{
        display: block;
    }
    nav{
        position: fixed;
        width: 55%;
        height: 100vh;
        background: rgb(0, 0, 0, 0.9);
        top: 7rem;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: block;
    }
    #check:checked ~ nav{
        left:0;
    }
    nav ul li {
        display: block;
        padding: 3rem 0.5rem;
        font-size: 2rem;
    }
    header {
        background-color: rgb(0, 0, 0, 0.9);
        display: block;
    }
    .flexFila {
        display: block;
    }
    .margenLogoPrincipal {
        position: relative;
        top: 20%;
        left: 1.5rem;
        width: 20rem;
        margin-left: 1rem;
    }
    /*TODO --- MAIN --- INICIO --- */
    /*? Seccion 1 */
    /** En esta seccion solo se modifica el tamaño del video */
    .bannerInicioUno video {
        width: 70%;
        height: 20%;
        border-radius: 3rem;
    }
    /*? Seccion 2 */
    /** GRIDS "INICIO" */ 
    .grids { /* Se modifia el Grid principal, en este caso se deja una disposicion en columnas. */
        display: grid;
        grid-template-areas:
        "abono"
        "localizacion"
        "promo"
        "redes";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        align-content: space-around; 
        grid-gap: 4rem;
    }
    /** Aca se modifica el tamaño del banner que contiene a ABONO */
    .bannerInicioTres {
        width: 90%;
        height: 50%;
        border-radius: 1rem;
    }
    /** Se modifican el tamaño de las letras en las promociones */
    .promo .promo1 h2 {
        font-size: 3rem;
    }
    .promo .promo1 p {
        font-size: 1.5rem;
    }
    .promo .promo2 h2 {
        font-size: 2rem;
    }
    .promo .promo2 p {
        font-size: 1rem;
    }
    /** Se modifican los LOGOS */
    .logos {
        width: 6rem;
        height: 6rem;
        border-radius: 1.5rem;
        margin-right: 1.5rem;
    }
    /** Se modifican la direccion de los iconos, se le reduce su tamaño */
    .redes2 {
        flex-direction: column;
    }
    .redes2 a {
        width: 9rem;
        height: 9rem;
        font-size: 6rem;
    }
    /*TODO --- MAIN --- ACTIVIDADES --- */
    /** Se quita el Sub-Menu (Por el momento) */
    .flexFila li .submenu {
        display: none;
    }
    /** GRIDS "ACTIVIDADES" */ 
    .gridsAct { /* Se modifia el Grid principal, en este caso se deja una disposicion en columnas. */
        display: grid;
        grid-template-areas:
        "titulo"
        "imagen" 
        "informacion";
        grid-template-columns: auto;
        grid-template-rows: 7rem 32rem 37rem;
        justify-items: center;
        align-items: center;
    }
    /** Se aplican modificaciones en varios elementos y se declara un ID para un elemento especifico */
    .bannerActividadInternos h2 {
        width: 98%;
        height: 3rem;
        border-radius: 0rem;
        text-align: center;
    }
    .liInternosAct {
        line-height: 1.5rem; 
    }
    .liInternosAct li {
        font-size: 1.2rem;
    }
    .bannerActividadInternos article {
        width: 98%;
        height: 33rem;
        border-radius: 0;
    }
    #cambioTamaño{
        font-size: 2.1rem;
    }
    /*TODO --- MAIN --- GALERIA --- */
    /** GRIDS "GALERIA" */ 
    .gridGaleria{ /* Se modifia el Grid principal, en este caso se reducen las columnas y se cambian de lugar las imangenes para tener una mejor visualizacion. */
        display: grid;
        grid-template-areas: 
        "img1 img2 img5"
        "img6 img6 img3"
        "img8 img7 img3"
        "img4 img9 img9";
        padding: 4rem 1rem;
        grid-auto-rows: 10rem;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(3,1fr);
    }
    /** Se modifica la separacion entre elementos para tener una mejor visualizacion. */
    .bannerGaleria {
        gap: 0rem;
        padding: 4rem 0rem;
    }
    /*TODO --- MAIN --- STAFF --- */
    /* Modificacion de la separacion entre los elementos y reduccion del contenedor RETRATO. */
    .bannerStaff {
        gap: 6rem;
        padding: 4rem 0rem;
    }
    .retrato {
        width: 30rem;
        height: 51rem;
    }
    /*TODO --- MAIN --- CONTACTO --- */
    /** GRIDS "CONTACTO" */ 
    .gridContacto { /* Se modifia el Grid principal, en este caso se deja una disposicion en columnas. */
        display: grid;
        grid-template-areas:
        "nombre"
        "apellido"
        "telefono"
        "email"
        "mensaje"
        "btn";
        grid-template-columns: 1fr;
        grid-gap: 4rem;
    }
    /** Reduccion del padding y del background que contiene a Form */
    .bannerContacto {
        padding: 7rem 0rem;
    }
    .bannerContacto p {
        text-align: center;
    }
    .backgroundForm {
        width: 22rem;
    }
    /*TODO --- FOOTER --- */
    /** Responsive del FOOTER para Smartphones, se aplican cambos en letras y se modifica el "Flex Row" por el "Flex Column"  */
    .tamaño {
        font-size: 1rem;
    }
    footer p {
        font-size: 1rem;
    }
    .flexFooter section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .flexFooter img {
        margin-bottom: 1rem;
    }
    footer section article {
        margin-bottom: 3rem;
    } 
}

