/*? Mapa creado para darle estilo a los iconos */
$iconos: (
    instagram: #ff0bb667,
    facebook: #2455f76c,
    whatsapp: #22770062,
    transferencia: #fcd201,
    efectivo: #fcd201,
    credito: #fcd201,
);